<!--Prayer partial-->
<section>
  <div class="container">
    <div class="">
      <h2 class="section-heading">Prayer Room</h2>

      <h4 class="subHeader">“My house will	be	called	a house of prayer” – Jesus (Matt 21:13)</h4>

      <h4 class="subHeader">“Apart	from	me	you	can	do	nothing” – Jesus (John	15:5)</h4>

      <p>We	prioritise	prayer	and firmly	believe	that	nothing	will be	achieved	without	seeking	to	know	and	be	aligned	with
        what	God	wants	to	do. The	Prayer	Room	at	the Table	Hub	is	open	for	at	least	an	hour	every	day	for	people	to
        intercede	on	behalf	of	this	community,	town	and	nation.
      </p>

      <p>
        We	have	corporate	prayer	on	Tuesday	nights	from	7:45-9pm
      </p>
    </div>
  </div>
</section>
