<!-- Values Content -->

<section id="values" *ngIf="postContent">
  <div class="container text-center">
    <h2 class="section-heading">Values</h2>

    <!--categoreis === 3 - 3 corresponds to the values category on poasts-->
    <div id="{{post.slug}}" *ngFor="let post of postContent.reverse()">
      <a *ngIf="post.categories[0] === 3" routerLink="/blog" fragment="{{post.slug}}">
        <h4 class="subHeader">{{post.title.rendered}}</h4>
      </a>
    </div>

    <!--We check to see if we have any posts for each value, if not add a stubbed header-->
    <div   *ngFor="let value of valuesHeaders">
      <h4 *ngIf="!checkIfPostPresent(value)"  class="subHeader">{{value}}</h4>
    </div>

  </div>
</section>
