<!--Fridays partial-->
<section id="fridays" class="fridaysBackground">
  <div class="fridaysContainer">
    <div class=" container">
      <h2 class="section-heading">TABLE Fridays</h2>

      <p>	We believe in investing heavily in the young people of our
        town in order to help them to navigate the difficult and potentially
        dangerous years that could ultimately define the rest of their lives.
        We care for the teenagers of Tandragee and we open the Table Hub every
        other Friday night to provide a safe space for them to relax, get food,
        play games, and engage with members of Table who volunteer to spend the
        evening with them. Occasional special events include live music and sports competitions.
      </p>



    </div>
  </div>
</section>
