<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">Word In The City</h2>

      <a class="justify-content-center" href="https://wordinthe.city/" target="_blank">
        <img class="witc">
      </a>

      <h6 class="subHeader">
        Bible study training, designed to help you read the Bible, know God,
        serve the Church, and benefit the city
      </h6>

      <p>
        Thursday evening, 19:30-21:30 at Faith Mission, 2 West Street, Portadown BT62 3PL
      </p>

      <p>
        Click on the logo above for more info.
      </p>

    </div>
  </div>
</section>
