<!--Table tots partial-->
<section>
  <div class="container">
    <h2 class="section-heading">TABLE Tots</h2>

    <p>Table Tots is our new mother and toddler group and we would like to make everyone welcome on a
      Thursday morning from 10am-12pm. At Table Tots we hope everyone forms new friendships and
      that the children also have fun whilst playing with friends. We love reaching out to the
      community and hope to provide a happy, safe environment for everyone.
    </p>

    <p>
      <strong>
        Please feel free to contact Jill through our Table Tots facebook page below for more information.
      </strong>
    </p>

    <div class="text-center">
      <a href="https://www.facebook.com/Table-Tots-186763191891812/?hc_ref=ARTY3KCAeFOEu6DJ5PatPe13knPg-wcQxpKK2y9nm2xug7Flu7Bl3UekZb5EQErIETY"  target="_blank">
        <fa-icon [icon]="['fab', 'facebook-f']" size="4x"></fa-icon>

      </a>
    </div>


  </div>
</section>
