<!-- Footer -->
<footer id="footerSection">
  <div class="footerContainer">
    <div class="row footerRow">

      <div class="col-md-4 copyRightDiv">
        <span class="subHeader copyright">
          &copy;TABLE {{getFullYear()}}
        </span>
      </div>

      <div class="col-md-2 socialMediaDiv">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/tabletandragee/" target="_blank">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/tabletandragee/" target="_blank">
              <i class="fa fa-instagram fa-2x"></i>
            </a>
          </li>
        </ul>

      </div>


      <div class="col-md-6 ">
        <ul class="list-inline pull-right">
          <li class="list-inline-item">
            <a href="http://www.eauk.org/"  target="_blank">
              <img class="ea-member" >
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.forgeinternational.com/" target="_blank">
              <img class="forge">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.ccpas.org/"  target="_blank">
              <img class="ccpas" >
            </a>
          </li>
        </ul>
      </div>


    </div>
  </div>
</footer>
